* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica;
}

/* botones */

button {
    background-color: #4E342E;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
button:hover {
    background-color: #FFF59D;
    color: #4E342E;
}
a {
    color: #5D4037;
    text-decoration: none;
}
.main-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    padding: 20px;
    background-color: #f7f7f7; 
}
.ingreso-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(78, 52, 46, 0.08);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    border: 1px solid rgba(78, 52, 46, 0.05);
    display: flex;
    flex-direction: column;
}
.ingreso-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4E342E;
    text-align: center;
}
.ingreso-card form {
    display: flex;
    flex-direction: column;
    text-align: left; 
}
.ingreso-card label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #5D4037;
}
.ingreso-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
}
.ingreso-card input:focus {
    outline: none;
    border-color: #4E342E;
}
.ingreso-card button {
    background-color: #4E342E; 
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
.ingreso-card button:hover {
    background-color: #FFF59D;
    color: #4E342E;
}
.ingreso-card p {
    margin-top: 20px;
    font-size: 14px;
    color: #5D4037;
    text-align: center;
}
.ingreso-card a {
    color: #4E342E;
    text-decoration: none;
    font-weight: bold;
}
.ingreso-card a:hover {
    text-decoration: underline;
}
.volver {
    text-decoration: none;    
    display: flex;
    align-self: flex-start;
    margin-bottom: 20px;
    color: #4E342E;
    font-size: 1.2em;
    font-weight: 600;
}