*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: Arial, Helvetica;
}

/* botones */

button {
    background-color: #39a06b;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #eac926;
}
a {
    color: #666666;
    text-decoration: none;
}
.main-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    padding: 20px;
    background-color: #ebebeb; 
}
.ingreso-card {
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: #66666648;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.ingreso-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.ingreso-card form {
    display: flex;
    flex-direction: column;
    text-align: left; 
}
.ingreso-card label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666666;
}
.ingreso-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #8f8f8f;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}
.ingreso-card input:focus {
    outline: none;
    border-color: #565555;
}
.ingreso-card button {
    background-color: #39a06b; 
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.ingreso-card button:hover {
    background-color: #eac926;
}
.ingreso-card p {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}
.ingreso-card a {
    color: #666666;
    text-decoration: none;
    font-weight: bold;
}
.ingreso-card a:hover {
    text-decoration: underline;
}