<%- include('../partials/header') %>

<main>
    <div class="pagina-error">
        <img src="/img/404.png" alt="404 Not Found" class="not-found-image">
        <h1>Página no disponible</h1><br>
    </div>
    <a href="/"><button>Volver al inicio</button></a>
</main>

<%- include('../partials/footer') %>
