<link rel="stylesheet" href="/css/errores.css">
<main class="contenedor-error">
    <div class="pagina-error">
        <img class="imagen-error" src="/img/404.png" alt="404 Not Found" class="pagina-no-encontrada">
        <h1>¡Ups! Página no disponible</h1><br>
    </div>
    <a class="boton-volver" href="/">Volver al inicio</a>
</main>

