<link rel="stylesheet" href="/css/errores.css">

<main class="contenedor-error">
    <div class="pagina-error">
        <img class="imagen-error" src="/img/500.png" alt="Error Interno del Servidor" class="pagina-no-encontrada">
        <h1>¡Ups! Algo salió mal</h1><br>
    </div>
    <a class="boton-volver" href="/">Volver al inicio</a>
</main>

