
<main>
    <div class="pagina-error">
        <img src="/img/500.png" alt="Error Interno del Servidor" class="pagina-no-encontrada">
        <h1>¡Ups! Algo salió mal</h1><br>
    </div>
    <a href="/"><button>Volver al inicio</button></a>
</main>

