<main class="contenedor-checkout">
    <h1>
        Checkout disponible en el próximo sprint
    </h1>
    <div class="checkout-buttons">
        <a href="/cart"><button>Volver al carrito</button></a>
        <a href="/"><button>Volver al inicio</button></a>
    </div>
</main>