<link rel="stylesheet" href="/css/categoria.css">

<nav class="categoriasBarra">

    <% if (typeof categoriasBarra !== 'undefined') { %>

        <% categoriasBarra.forEach(categoria => { %>

            <a href="/categoria/<%= categoria %>">
                <%= categoria %>
            </a>

        <% }) %>

    <% } %>

  </nav>