<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %> <!-- el header se carga una sola vez acá -->

    <%- body %> <!-- aquí ejs mete el contenido de index, detalle, etc. -->

    <%- include('../partials/footer') %> <!-- el footer se carga una sola vez acá -->
</body>
</html>