<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANTOJITOS</title>
    <link rel="icon" href="../../../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<body>

    <%- include('../partials/header') %> <!-- el header se carga una sola vez acá -->

    <%- body %> <!-- aquí ejs mete el contenido de index, detalle, etc. -->

    <%- include('../partials/footer') %> <!-- el footer se carga una sola vez acá -->

</body>
</html>